body {
  padding-left: 50px;
  padding-right: 50px;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 95%;
  height: 79px;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.header_address,
.header_working_mode,
.header_phone {
  font: 'Montserrat' 12px 400 15px;
  color: #ffffff;
}
.header_map {
  height: 34px;
  width: 34px;
  padding-left: 10px;
}
.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.vertical {
  border-left: 3px solid rgb(255, 255, 255);
  height: 45px;
  position: absolute;
  top: 17px;
  padding-left: 600px;
}
.vertical1 {
  border-left: 3px solid rgb(255, 255, 255);
  height: 45px;
  position: absolute;
  top: 17px;
}
.header_clock {
  height: 22px;
  width: 22px;
}
.header_working_mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header_phone_img {
  height: 15px;
  width: 15px;
}
.button_order {
  height: 50px;
  width: 240px;
  border-radius: 25px;
  background-color: white;
}
.nav-list {
  margin-top: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
a {
  font: 'Montserrat' 12px 700 15px;
  color: black;
}
.banner {
  height: 532px;
  width: 100wh;
  display: flex;
  justify-content: center;
}
.banner_img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_content {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_text {
  font: 'Montserrat' 40px 700 49px;
  color: #ffffff;
  text-align: center;
}
.banner_text1 {
  text-align: center;
  top: 40%;
  font: 'Montserrat' 12px 400 15px;
  color: #ffffff;
}
.button_catalog {
  height: 60px;
  width: 240px;
  border-radius: 30px;
  background-color: #e05100;
  margin: 80px;
  font: 'Montserrat' 16px 700 19px;
  color: #ffffff;
}
.catalog {
  height: 1061px;
}
.catalog_text {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 56px;
}
.catalog_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1050px;
  height: 662px;
  margin: auto;
  margin-bottom: 72px;
}
.product_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 264px;
  width: 240px;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.button_more_items {
  height: 60px;
  width: 266px;
  border-radius: 30px;
  background-color: #e05100;
  font: 'Montserrat' 16px 700 19px;
  color: #ffffff;
  margin: 0 auto;
  display: block;
}
.about {
  background-color: #404040;
  height: 748px;
}
.about_block {
  height: 748px;
  display: flex;
  flex-direction: row;
}
.about_img {
  min-width: 47%;
  object-fit: cover;
}
.about_description {
  padding: 79px;
}
.about_description_text {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button_about {
  height: 60px;
  width: 266px;
  border-radius: 30px;
  background-color: #e05100;
  font: 'Montserrat' 16px 700 19px;
  color: #ffffff;
  margin-top: 74px;
  display: block;
}
.popular_text {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.popular_product {
  height: 1084px;
  width: 1050px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: auto;
}
.popular_img {
  height: 172px;
  width: 283px;
  background-repeat: 30px;
}
.product {
  height: 349px;
  width: 510px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: 17px;
}
.product_img {
  height: 340px;
  width: 330px;
  padding: 20px 0 14px 23px;
}
.product_description {
  position: relative;
  height: 349px;
  width: 180px;
  border-radius: 0px 30px 30px 0px;
  background-color: #404040;
  color: #ffffff;
  padding-left: 14px;
}
.price {
  font-size: 12px;
}
.plus_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 69px;
  height: 56px;
  border-radius: 30px 0px 30px 0px;
  border: 1px;
  background-color: #e05100;
}
.plus_img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.production {
  height: 766px;
  background-color: #404040;
  margin-top: 120px;
}
.production_text {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 90px;
  color: #ffffff;
}
.production_block {
  height: 385px;
  width: 1049px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.production_description {
  width: 330px;
  padding-right: 32px;
}
.production_logo {
  background-color: #ffffff;
  height: 74px;
  width: 231px;
  border-radius: 30px;
  margin-bottom: 65px;
}
.production_logo_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.delivery,
.tile,
.guarantee {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deliver_img {
  height: 44px;
  width: 60px;
  padding-right: 30px;
  margin-bottom: 38px;
}
.tile_img {
  height: 56px;
  width: 56px;
  padding-right: 30px;
  margin-bottom: 33px;
}
.guarantee_img {
  height: 55px;
  width: 55px;
  padding-right: 30px;
}
.production_description_text {
  color: #ffffff;
}
.projects {
  height: 1260px;
}
.projects_text {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
.projects_description {
  margin: auto;
  text-align: center;
  width: 1052px;
  margin-bottom: 78px;
}
.projects_img {
  height: 588px;
  width: 1052px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.projects_img1 {
  height: 274px;
  width: 691px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}
.advantages {
  height: 1059px;
  background-color: #404040;
}
.advantages_text {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 80px;
  color: #ffffff;
}
.advantages_description {
  height: 740px;
  width: 1060px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.advantages_block {
  height: 271px;
  width: 274px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 14px 28px 54px 28px;
}
.advantages_img {
  height: 90px;
  width: 90px;
}
.footer_info {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer_text {
  color: #e05100;
}
.working_mode {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_clock_img {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.footer_information {
  display: flex;
  flex-direction: row;
}
.footer_phone {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer_phone_img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.footer_list_information {
  margin-bottom: 15px;
}
.footer_copyright {
  text-align: center;
}
